/* Stylesheet for mobile toggle menu
 * Author: Paul Combrink
 * Compatible with Clean Style One
 * Notes: Inspired by WordPress Twenty Thirteen and the Mobi.Nav plugin
 * Date: 30 December 2013
 */



/* ========= Small menu ========= */
.menu-toggle {
	cursor: pointer;
	display: inline-block;
	margin: 0;
	font-size: 14px;
	line-height: 34px;
	font-weight: bold;
	padding-right: 0;
	padding-left: 10px;
	text-transform: uppercase;
}


.menu-toggle:before {
	content: "\2630";
	font-size: 22px;
	padding-left: 0px;
	padding-right: 10px;
	vertical-align: -9%;
	font-family: sans-serif;
	font-weight: normal;
}

.menu-toggle:after {
	content: "\25BC";
	font-size: 60%;
	padding-left: 8px;
	vertical-align: middle;
	font-family: sans-serif;
}
	
.toggled-on .menu-toggle:before {
	font-family: sans-serif;
	/*	content: "\2715"; */
	vertical-align: -9%;
}
	
.toggled-on .menu-toggle:after {
	font-family: sans-serif;
	content: "\25B2";
	vertical-align: middle;
}


/* Overwrite styling for #menu from main theme stylesheet (style.css) */

#menu {
	height: auto;
	background-image: none;
}

#menu .toggled-on ul {
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	z-index: 9999;
	position: relative; /* This sets the menu to slide the content down or hover over it*/
	overflow-x: hidden;  /*Trim any horisontal scrollbars created by padding*/
	overflow-y: visible;
/*	background-color: inherit;	/**/
	border-top: 1px solid #000;	/**/
	border-bottom: 1px solid #666;	/**/
		
}
	
#menu .toggled-on ul li {
	width: 100%;
	background-image: none;
	background-color: inherit;
	line-height:28px;
	border-bottom: 1px solid #000;	/**/
	border-top: 1px solid #666;	/**/
	padding-top: 0px;

}

#menu .toggled-on ul li ul li{
	border-bottom: 1px solid #000;	/**/
	border-top: 1px solid #666;	/**/
}

	
	#menu .toggled-on ul li:last-child {
/*	border-bottom-style: none; */
	border-bottom: 1px solid #000;	
}

	#menu .toggled-on ul.sub-menu,	
	#menu .toggled-on ul.sub-menu li:last-child {
	border-bottom-style: none;
}	

/*	Advanced width calculations
	#menu .toggled-on ul li {
		width: -moz-calc(100% - 0px);
		width: -webkit-calc(100% - 0px);
		width: -o-calc(100% - 0px);
		width: calc(100% - 0px);					
	}

	#menu .toggled-on ul li ul li {
		width: -moz-calc(100% - 4px);
		width: -webkit-calc(100% - 4px);
		width: -o-calc(100% - 4px);
		width: calc(100% - 4px);						
	}
	
	#menu .toggled-on ul li ul li ul li{
	width: -moz-calc(100% - 0px);
	width: -webkit-calc(100% - 0px);
	width: -o-calc(100% - 0px);
	width: calc(100% - 0px);
	margin-left: 0px;
	}
	
*/

	#menu .toggled-on ul li a{
	display: block;
/*	color: #000; /* This sets the font color for menu items*/
	padding-right: 12px;
	padding-left: 12px;			
	}
	
	#menu .toggled-on ul li:hover {
	cursor: pointer;
	background-image: none;
	}
		
	#menu .toggled-on ul li a:hover {
	color: #ccc; /* This sets the hover font color for menu items*/
	}
	
	#menu .toggled-on ul li ul li:hover{
		padding-top: 0px !important;
	}	
	
	#menu .toggled-on ul li ul.sub-menu {
	display: block;
	position: relative;
	background-image: none;
	width: auto;
	box-shadow:none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	z-index: 9999;
	height: auto;
	padding-top: 0px;
	}
	
		
	#menu .toggled-on ul li ul li ul.sub-menu, 
	#menu .toggled-on ul li ul li ul li ul.sub-menu {
	display: none;
	float: left;
	position: relative;
	box-shadow:none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	padding: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left:0px;	
	width:100%;
	}	
	
	#menu .toggled-on .sub-menu { display: block; }

	#menu .toggled-on .sub-menu li {
	padding-left: 0px;
	}	


	#menu .toggled-on ul ul.sub-menu li a{ padding-left:34px;}
	#menu .toggled-on ul ul ul.sub-menu li a{ padding-left:54px;}			

/*	
	#menu .toggled-on ul.sub-menu li a:before {
	content: "\25AB";
	padding-right: 5px;
	}
*/	
	
		
	#menu .toggled-on .current-menu-item {
	background-image: none !important;
	}
	
	#menu .toggled-on .current_page_item a {
	font-style: italic;
	}
	

/* end custom paul */

	.toggled-on .nav-menu,
	.toggled-on .nav-menu > ul {
		display: block;
		margin-left: 0;
		padding: 0;
		width: 100%;	
	}
	

	.toggled-on li,
	.toggled-on .children {
		display: block;
	}

	.toggled-on .nav-menu li > ul {
		display: block;
		float: none;
		margin-left: 20px;
		position: relative;
		left: auto;
		top: auto;
		
	}

	.toggled-on .nav-menu li > ul a {
		width: auto;
	}

	.toggled-on .nav-menu li:hover > a,
	.toggled-on .nav-menu .children a {

	}

	.toggled-on .nav-menu li a:hover,
	.toggled-on .nav-menu ul a:hover {
	}

	ul.nav-menu,
	div.nav-menu > ul {
		display: none;
	}
	
/* --- Stuff for sub menu toggle --- */

	.toggled-on .nav-menu .sdrn_parent_item_li {
		padding-right: 0px;
	}
	
	.toggled-on .nav-menu .sdrn_parent_item_li a{
	padding-right: 0px;
	}


	.toggled-on .nav-menu .sdrn_icon_par:before {
		content:"\25B8";
	}
	
	.toggled-on .nav-menu .sdrn_par_opened:before {
		content:"\25BE";
	}
	
	.toggled-on .nav-menu .sdrn_icon_par {
	position: relative;
	display: block;
	width: 10px;
	cursor: pointer;
	float: left;
	top: 0px;
	left: 0px;
	padding-right: 4px;
	padding-left: 4px;
	margin-left: 8px;
	margin-right: 8px;
	border-right: solid 1px #000;
	}
	
	.toggled-on .nav-menu .sdrn_icon_par:hover {
		color: #000;	
	}
	
	.toggled-on .nav-menu .sub-menu .sdrn_icon_par	{
	padding-left: 24px 
	}
	
	