@charset "utf-8";
/* CSS Document */

  #theform select option {
	border-bottom: solid 1px #e0e0e0;
	font-size:14px;
  }
  
  #theform select {
	width: 150px;
	/*font-size:14px; */
  } 
  
  #theform .optionbox {
	border:solid 1px #e0e0e0;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding:5px;
	margin:5px 0px;
	float:left;
	width:99%;
	clear:both;
	line-height:24px;
	background:#FFF;
  }
  
  #theform .optionheading {
	border:solid 1px #e0e0e0;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding:1px 15px 5px 15px;
	margin:5px 0px -10px 0px;
	float:left;
	clear:both;
	line-height:24px;
	background:#e0e0e0;	
  }  
  
  #theform .optionitem {
	  width: 170px;
	  float: left;
	  padding-left:10px;
  }
  
  #theform .optionitem input {
	  max-width: 110px;
  }  

  #theform .optionitem-wide {
	  width: 300px;
	  float: left;
	  padding-left:10px;
  }
  
  #theform .optionitem-wide input {
	  width: 290px;
  }    
  
  #theform .clear {
	  clear:both;
	  background-color:#F2F2F2;
	  height:1px;
	  width:100%;
	  float:left;
	  margin:5px 0px;
  }
  
  .colorwell {
	cursor: pointer;
  }
  
  #mypicker {
	position:absolute;
	width:200px;
	height:200px;
	border:solid 1px #e0e0e0;
	-moz-border-radius: 3px;
	border-radius: 3px;
	z-index:9999;
	background-color:#FFF;
	left:350px;
  }


