/*
Theme Name: Clean Style One
Description: Clean style theme that allows for: custom background, slider header (with using easing slider), custom logo, diffirent header for pages, side bar and footer nav. Header images needs to be 960 x 275 px. Enabled for WooCommerce. Responsive
Author: Paul Combrink @ Interface  
Version: 2.0
License: Copyright Interface
*/


/* Reset default browser CSS.- DO NOT DELETE THIS ------------------------------------------------------------- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	background: transparent;
	border: 0;
	margin: 0;
	padding: 0;
/*	vertical-align: baseline;*/
}
body { /*line-height: 1;*/ }
h1, h2, h3, h4, h5, h6 { clear: both; font-weight: normal; }
ol, ul { list-style: none; }
blockquote { quotes: none; }
blockquote:before, blockquote:after { content: ''; content: none;}
del { text-decoration: line-through; }
/* tables still need 'cellspacing="0"' in the markup */
table { border-collapse: collapse; border-spacing: 0; }
a img { border: none; }


/* Global Elements ------------------------------------------------------------------------------------------- */

body, input, textarea {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #666;
}

a { 
	color: #03C;
	text-decoration: underline;
}

a:hover {
	text-decoration: none;
}

h1 a:hover, 
h2 a:hover, 
h3 a:hover {
	text-decoration:underline;
}

h1, h1 a, 
h2, h2 a,
h3, h3 a {  
	text-decoration: none; 
	margin-bottom: 10px;
	color:#666;
}

p{
	margin-bottom: 10px;
}

hr {
	border: 0;
	color: #CCC;
	background-color: #CCC;
	height: 1px;
	width: 100%;
	text-align: left;
}


/* General Styles --------------------------------------------------------------------------------------------- */

.clear {
	clear: both;
}

/* Layout ----------------------------------------------------------------------------------------------------- */

#wrapper {
	height: 100%;
	width: 100%;
	text-align:center; /* IE hack */
}

#container {
	margin: 0px auto;
	height: 100%;
	width: 960px;
	text-align:left; /* IE hack */
	padding-right: 10px;
	padding-left: 10px;
}
#top {
	width: 100%;
	overflow: hidden;
}

#header {
	width: 100%;
	overflow: hidden;
	margin: 0px;
	padding: 0px;
	line-height: 0px;
}

#logo {
	float: left;
	height: auto;
	width: auto;
	padding: 10px;
	margin: 10px 0px 0px;
}

#site-description{
	float: right;
	font-size: 24px;
	color: #999;
	height: 100%;
	vertical-align: middle;
	padding: 10px;
	margin: 10px 0px 0px;
}


#leftbar{
	padding:0px 10px;
	border-right:solid 1px #CCC;
}
#leftbar .leftSideBar{ width: 250px; }

#rightbar {
	padding:0px 10px;
} 
#rightbar .rightSideBar { width: 280px; }


/* Header ---------------------------------------------------------------------------------------------------- */

.shaddow {
	background-image: url(images/shadow_arc.png);
	background-repeat: no-repeat;
	background-position: center top;
	height: 45px;
	width: 100%;
	margin: -4px 0px 0px;
	display: block;
	padding: 0px;
}



/* Menu ------------------------------------------------------------------------------------------------------ */

#menu {
	background-image: url(images/menu_over.png);
	background-repeat: repeat-x;
	background-position: center center;	
	background-color: #666;	
	height: 34px;	
}

#menu ul {
	margin: 0px;
	padding: 0px;
	line-height: 34px;
	background-color: #666;
}
#menu ul li {
	float: left;
	background-image: url(images/nav_div.png);
	background-repeat: no-repeat;
	background-position: -5px center;
}

#menu ul li a{
	color: #FFF;
	text-decoration: none;
	padding-right: 15px;
	padding-left: 15px;
	display: block;
}

#menu ul li:hover {
	cursor: pointer;
	background-image: url(images/nav_div_over.png);
	background-repeat: no-repeat;
	background-position: right center;
}

#menu ul li a:hover {}
#menu ul li ul li:hover {}

#menu ul li ul {
	display: none;
	position: absolute;
	background-image:none;
	width: 300px;
	box-shadow: 0px 3px 3px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 3px 3px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0px 3px 3px rgba(0,0,0,0.2);
	z-index: 9999;
	height: auto;
}

#menu ul li ul li ul.sub-menu, 
#menu ul li ul li ul li ul.sub-menu {
	display: none;
	box-shadow: 0px 3px 3px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 3px 3px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0px 3px 3px rgba(0,0,0,0.2);
	z-index: 9999;
	float: left;
	margin-left: 181px;
	position: absolute;
	margin-top: -35px;	
}

#menu ul li:hover ul,
#menu ul li ul li:hover ul,
#menu ul li:hover ul, 
#menu ul li ul li ul li:hover ul {
	display: block;
}

#menu ul li ul li{
	display: block;
	width: 100%;
	border-top: 1px solid #fff;
}

#menu .current-menu-item {
	background-image: url(images/nav_div_over.png) !important;
	background-repeat: no-repeat !important;
	background-position: right center !important;
}

/* Side Menu */

#sidemenu {}
#sidemenu ul {}
#sidemenu ul li {}
#sidemenu ul li a {
	display: block;
	border-bottom: 1px solid #CCC;
	text-decoration: none;
	padding: 8px 5px;
	line-height: 24px;
}

#sidemenu ul li a:hover {
	font-weight: bold;
}

#sidemenu  .current-menu-item {
	font-weight: bold;
}

/* Footer Menu */

#footermenu {
	float: left;
	margin-left: 10px;
}

#footermenu .current-menu-item {
	font-weight: bold;
}


/* Content --------------------------------------------------------------------------------------------------- */
#main {
	clear: both;
	margin: 0px;
}

#content {
	padding: 10px;
	margin: 0px;
	vertical-align: top;
}
#content p { margin-bottom: 18px; }
#content ul, 
#content ul ul, 
#content ul ul ul
{
	list-style-position: outside;
	list-style-type: circle;
	margin-left: 15px; 	
}
#content li {
	margin-left: 5px; 
}

#content img {
	border: 1px solid #ddd;
}

.more-link {
	margin-bottom: 5px;
	padding-bottom: 15px;
	border-bottom: 1px solid #ddd;
	display: block;
}


/* Widget Areas / Side bars ----------------------------------------------------------------------------------- */

#header_widget {
	float: right;
	margin: 25px 15px 15px;
	color:#666;
}

h3.widget-title {
	margin-bottom: 0px;
	border-bottom: 1px solid #CCC;
	background-color: #eee;
	padding: 5px 10px;
} 

.box {
	margin-bottom: 15px;
	padding-bottom: 5px;	
	border: 1px solid #ddd;
	box-shadow: 0px 0px 2px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 0px 2px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0px 0px 2px rgba(0,0,0,0.2);
}

.box ul, 
.box ul ul, 
.box ul ul ul {
	list-style-type: circle;
	padding-left: 15px; 	
}

.box ul{
	margin-left:10px;
}

.box li {
	margin-left: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.box a { display: block; }
.box form { padding: 10px; }



/* Footer ---------------------------------------------------------------------------------------------------- */

#footer {
	color: #FFF;
	margin: 0px;
	background-color: #999;
	background-image: url(images/div_shaddow.png);
	background-repeat: no-repeat;
	background-position: center top;
	padding: 10px;
}

.footer-widget-title {
	display: none;
}


.footer-item, 
#footer .widget_text {
	float: left;
	clear: left;

}

/*
#footer .textwidget {
	float: right;
	padding: 0px;
	clear: right;
}
*/

#footer li,
#footer li ul {
	float: left;
	clear: none;
	display: inline;
}


#footer li a {
	padding-right: 5px;
	margin-right: 5px;
	font-size: 90%;
	text-decoration: none;
}
#footer li a:hover {
	text-decoration: underline;
}

#footer a {
}

#copyright {
	float: right;
	text-align:right;
}


/* =Gallery listing
-------------------------------------------------------------- */

.format-gallery .size-thumbnail img,
.category-gallery .size-thumbnail img {
	border: 10px solid #f1f1f1;
	margin-bottom: 0;
}
.format-gallery .gallery-thumb,
.category-gallery .gallery-thumb {
	float: left;
	margin-right: 20px;
	margin-top: -4px;
}
.home #content .format-gallery .entry-utility,
.home #content .category-gallery .entry-utility {
	padding-top: 4px;
}


/* =Attachment pages
-------------------------------------------------------------- */

.attachment .entry-content .entry-caption {
	font-size: 140%;
	margin-top: 24px;
}
.attachment .entry-content .nav-previous a:before {
	content: '\2190\00a0';
}
.attachment .entry-content .nav-next a:after {
	content: '\00a0\2192';
}


/* =Images
-------------------------------------------------------------- */

/*
Resize images to fit the main content area.
- Applies only to images uploaded via WordPress by targeting size-* classes.
- Other images will be left alone. Use "size-auto" class to apply to other images.
*/
img.size-auto,
img.size-full,
img.size-large,
img.size-medium,
.attachment img {
	max-width: 100%; /* When images are too wide for containing element, force them to fit. */
	height: auto; /* Override height to match resized width for correct aspect ratio. */
}
.alignleft,
img.alignleft {
	display: inline;
	float: left;
	margin-right: 24px;
	margin-top: 4px;
}
.alignright,
img.alignright {
	display: inline;
	float: right;
	margin-left: 24px;
	margin-top: 4px;
}
.aligncenter,
img.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
img.alignleft,
img.alignright,
img.aligncenter {
	margin-bottom: 12px;
}
.wp-caption {
	background: #f1f1f1;
	line-height: 18px;
	margin-bottom: 20px;
	max-width: 632px !important; /* prevent too-wide images from breaking layout */
	padding: 4px;
	text-align: center;
}
.wp-caption img {
	margin: 5px 5px 0;
}
.wp-caption p.wp-caption-text {
	color: #888;
	font-size: 12px;
	margin: 5px;
}
.wp-smiley {
	margin: 0;
}
.gallery {
	margin: 0 auto 18px;
}
.gallery .gallery-item {
	float: left;
	margin-top: 0;
	text-align: center;
	width: 33%;
}
.gallery-columns-2 .gallery-item {
	width: 50%;
}
.gallery-columns-4 .gallery-item {
	width: 25%;
}
.gallery img {
	border: 2px solid #cfcfcf;
}
.gallery-columns-2 .attachment-medium {
	max-width: 92%;
	height: auto;
}
.gallery-columns-4 .attachment-thumbnail {
	max-width: 84%;
	height: auto;
}
.gallery .gallery-caption {
	color: #888;
	font-size: 12px;
	margin: 0 0 12px;
}
.gallery dl {
	margin: 0;
}
.gallery img {
	border: 10px solid #f1f1f1;
}
.gallery br+br {
	display: none;
}
#content .attachment img {/* single attachment images should be centered */
	display: block;
	margin: 0 auto;
}

/* Image borders  -------------------------------------------------------------------------------------------- */
img[class*="align"],
img[class*="wp-image-"],
#content .gallery .gallery-icon img {/* Add fancy borders to all WordPress-added images but not things like badges and icons and the like */
	border: 1px solid #ddd;
	padding: 6px;
}
.wp-caption img {
	border-color: #eee;
}
a:focus img[class*="align"],
a:hover img[class*="align"],
a:active img[class*="align"],
a:focus img[class*="wp-image-"],
a:hover img[class*="wp-image-"],
a:active img[class*="wp-image-"],
#content .gallery .gallery-icon a:focus img,
#content .gallery .gallery-icon a:hover img,
#content .gallery .gallery-icon a:active img {/* Add some useful style to those fancy borders for linked images ... */
	background: #eee;
	border-color: #bbb;
}
.wp-caption a:focus img,
.wp-caption a:active img,
.wp-caption a:hover img {/* ... including captioned images! */
	background: #fff;
	border-color: #ddd;
}


/* Forms / Search  -------------------------------------------------------------------------------------------- */
input[type=text],
input[type=password],
textarea {
	-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.1);
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.1);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.1);
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #CCC;		

}
input[type=text]:focus,
textarea:focus {
	color: #373737;
}
textarea {
	padding-left: 3px;
	width: 98%;
}
input[type=text] {
	padding: 3px;
}
input#s {
	background: url(images/search.png) no-repeat 5px 6px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	font-size: 14px;
	height: 22px;
	line-height: 1.2em;
	padding: 4px 10px 4px 28px;
}
input#searchsubmit {
	display: none;
}

/* Post and page Navigation ( Pagenation ) ------------------------------------------------------------- */

.navigation {
}

#content nav {
	clear: both;
	overflow: hidden;
	padding: 0 0 1.625em;
}
#content nav a {
	font-size: 12px;
	font-weight: bold;
	line-height: 2.2em;
}
#nav-above {
	padding: 0 0 1.625em;
}
#nav-above {
	display: none;
}
.paged #nav-above {
	display: block;
}
.nav-previous {
	float: left;
	width: 50%;
}
.nav-next {
	float: right;
	text-align: right;
	width: 50%;
}
#content nav .meta-nav {
	font-weight: normal;
}

/* Singular navigation */
#nav-single {
	float: right;
	position: relative;
	top: -0.3em;
	text-align: right;
	width: 100%;
	z-index: 1;
}
#nav-single .nav-previous,
#nav-single .nav-next {
	float: none;
	width: auto;
}
#nav-single .nav-next {
	padding-left: .5em;
}


/* Comments ---------------------------------------------------------------------------- */
.commentblock {
	display: block;
}

#comments-title {
	color: #666;
	font-size: 10px;
	font-weight: 500;
	line-height: 2.6em;
	padding: 0 0 2.6em;
	text-transform: uppercase;
}
.nopassword,
.nocomments {
	color: #aaa;
	font-size: 24px;
	font-weight: 100;
	margin: 26px 0;
	text-align: center;
}
.commentlist {
	list-style: none;
	margin: 0 auto;
	width: 68.9%;
}
.content .commentlist,
.page-template-sidebar-page-php .commentlist {
	width: 100%; /* reset the width for the one-column and sidebar page layout */
}
.commentlist > li.comment {
	background: #f6f6f6;
	border: 1px solid #ddd;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin: 0 0 1.625em;
	padding: 1.625em;
	position: relative;
}
.commentlist .pingback {
	margin: 0 0 1.625em;
	padding: 0 1.625em;
}
.commentlist .children {
	list-style: none;
	margin: 0;
}
.commentlist .children li.comment {
	background: #fff;
	border-left: 1px solid #ddd;
	-moz-border-radius: 0 3px 3px 0;
	border-radius: 0 3px 3px 0;
	margin: 1.625em 0 0;
	padding: 1.625em;
	position: relative;
}
.commentlist .children li.comment .fn {
	display: block;
}
.comment-meta .fn {
	font-style: normal;
}
.comment-meta {
	color: #666;
	font-size: 12px;
	line-height: 2.2em;
}
.commentlist .children li.comment .comment-meta {
	line-height: 1.625em;
	margin-left: 50px;
}
.commentlist .children li.comment .comment-content {
	margin: 1.625em 0 0;
}
.comment-meta a {
	font-weight: bold;
}
.comment-meta a:focus,
.comment-meta a:active,
.comment-meta a:hover {
}
.commentlist .avatar {
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 1px 2px #ccc;
	-moz-box-shadow: 0 1px 2px #ccc;
	box-shadow: 0 1px 2px #ccc;
	left: -102px;
	padding: 0;
	position: absolute;
	top: 0;
}
.commentlist > li:before {
	content: url(images/comment-arrow.png);
	left: -21px;
	position: absolute;
}
.commentlist > li.pingback:before {
	content: '';
}
.commentlist .children .avatar {
	background: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	left: 2.2em;
	padding: 0;
	top: 2.2em;
}
a.comment-reply-link {
	background: #eee;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color: #666;
	display: inline-block;
	font-size: 12px;
	padding: 0 8px;
	text-decoration: none;
}
a.comment-reply-link:hover,
a.comment-reply-link:focus,
a.comment-reply-link:active {
	background: #888;
	color: #fff;
}
a.comment-reply-link > span {
	display: inline-block;
	position: relative;
	top: -1px;
}

/* Post author highlighting */
.commentlist > li.bypostauthor {
	background: #ddd;
	border-color: #d3d3d3;
}
.commentlist > li.bypostauthor .comment-meta {
	color: #575757;
}
.commentlist > li.bypostauthor .comment-meta a:focus,
.commentlist > li.bypostauthor .comment-meta a:active,
.commentlist > li.bypostauthor .comment-meta a:hover {
}
.commentlist > li.bypostauthor:before {
	content: url(images/comment-arrow-bypostauthor.png);
}

/* Post Author threaded comments */
.commentlist .children > li.bypostauthor {
	background: #ddd;
	border-color: #d3d3d3;
}

/* sidebar-page.php comments */
/* Make sure we have room for our comment avatars */
.page-template-sidebar-page-php .commentlist > li.comment,
.page-template-sidebar-page-php.commentlist .pingback {
	margin-left: 102px;
	width: auto;
}
/* And a full-width comment form */
.page-template-sidebar-page-php #respond {
	width: auto;
}

/* Comment Form */
#respond {
	border: 1px solid #d3d3d3;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin: 0 auto 1.625em;
	padding: 1.625em;
	position: relative;
	width: 92%;
	float: left;
}

#respond h3 {
	padding-bottom: 10px;
	border-bottom: 1px solid #d3d3d3;
	font-weight:bold;
}

#respond input[type="text"],
#respond textarea {
	background: #fff;
	border: 4px solid #eee;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: inset 0 1px 3px rgba(204,204,204,0.95);
	-moz-box-shadow: inset 0 1px 3px rgba(204,204,204,0.95);
	box-shadow: inset 0 1px 3px rgba(204,204,204,0.95);
	position: relative;
	padding: 10px;
	text-indent: 80px;
}
#respond .comment-form-author,
#respond .comment-form-email,
#respond .comment-form-url,
#respond .comment-form-comment {
	position: relative;
}
#respond .comment-form-author label,
#respond .comment-form-email label,
#respond .comment-form-url label,
#respond .comment-form-comment label {
	background: #eee;
	-webkit-box-shadow: 1px 2px 2px rgba(204,204,204,0.8);
	-moz-box-shadow: 1px 2px 2px rgba(204,204,204,0.8);
	box-shadow: 1px 2px 2px rgba(204,204,204,0.8);
	color: #555;
	display: inline-block;
	font-size: 13px;
	left: 4px;
	min-width: 60px;
	padding: 4px 10px;
	position: relative;
	top: 40px;
	z-index: 1;
}
#respond input[type="text"]:focus,
#respond textarea:focus {
	text-indent: 0;
	z-index: 1;
}
#respond textarea {
	resize: vertical;
	width: 95%;
}
#respond .comment-form-author .required,
#respond .comment-form-email .required {
	color: #bd3500;
	font-size: 22px;
	font-weight: bold;
	left: 75%;
	position: absolute;
	top: 45px;
	z-index: 1;
}
#respond .comment-notes,
#respond .logged-in-as {
	font-size: 13px;
}
#respond p {
	margin: 10px 0;
}
#respond .form-submit {
	float: right;
	margin: -20px 0 10px;
}
#respond input#submit {
	background: #222;
	border: none;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
	box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
	color: #eee;
	cursor: pointer;
	font-size: 15px;
	margin: 20px 0;
	padding: 5px 42px 5px 22px;
	position: relative;
	left: 30px;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.3);
}
#respond input#submit:active {
	background: #1982d1;
	color: #bfddf3;
}
#respond #cancel-comment-reply-link {
	color: #666;
	margin-left: 10px;
	text-decoration: none;
}
#respond .logged-in-as a:hover,
#respond #cancel-comment-reply-link:hover {
	text-decoration: underline;
}
.commentlist #respond {
	margin: 1.625em 0 0;
	width: auto;
}
#reply-title {
	color: #373737;
	font-size: 24px;
	font-weight: bold;
	line-height: 30px;
}
#cancel-comment-reply-link {
	color: #888;
	display: block;
	font-size: 10px;
	font-weight: normal;
	line-height: 2.2em;
	letter-spacing: 0.05em;
	position: absolute;
	right: 1.625em;
	text-decoration: none;
	text-transform: uppercase;
	top: 1.1em;
}
#cancel-comment-reply-link:focus,
#cancel-comment-reply-link:active,
#cancel-comment-reply-link:hover {
	color: #ff4b33;
}
#respond label {
	line-height: 2.2em;
}
#respond input[type=text] {
	display: block;
	height: 24px;
	width: 75%;
}
#respond p {
	font-size: 12px;
}
p.comment-form-comment {
	margin: 0;
}
.form-allowed-tags {
	display: none;
}


/* Products  (WP Commerce ) ---------------------------------------------------------------------------------- */

.wpsc_product_title{
	font-size: 14px;
}

.wpsc_default_product_list .group{
	float: left;
	width: 30%;
}


